body {
  font-family: 'Roboto', sans-serif;
}

.container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly; 
  width: 100%;
}
.top {
  height: 700px;
}

.left {
  width: calc(51% - 78px);
  height: calc(100% - 118px);
  padding: 59px 38px;
}

.right {
  width: calc(49% - 106px);
  height: calc(100% - 178px);
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-between;
  padding: 89px 53px; 
}

.letters {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 676px;

}

.letters button {
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  width: 40px;
  height: 40px;
  color: #39739D;
  background-color: #E1ECF4;
  border: 1px solid #7AA7C7;
  border-radius: 3px;
  margin: 0 6px;
  
}

.letters button:disabled {
  background-color: #798A9F;
}

.left img {
  max-width: 400px;
  max-height: 466.67px;
}

.right button {
  width: 200px;
  height: 60px;
  background-color: #27AE60;
  border-radius: 8px;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 23px;
  color: #FFFFFF;
}

h1 {
font-family: 'Noto Sans';
font-style: normal;
font-weight: 700;
font-size: 50px;
line-height: 68px;
}