body {
  font-family: 'Roboto', sans-serif;
}

main {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.top {
  height: 600px;
}

.left {
  width: calc(51% - 78px);
  height: calc(100% - 118px);
  padding: 59px 38px;
}

.right {
  width: calc(49% - 106px);
  height: calc(100% - 178px);
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-between;
  padding: 89px 53px; 
}

.left img {
  max-width: 400px;
  max-height: 466.67px;
}

.right button {
  width: 200px;
  height: 60px;
  background-color: #27AE60;
  border-radius: 8px;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 23px;
  color: #FFFFFF;
}

h1 {
font-family: 'Noto Sans';
font-style: normal;
font-weight: 700;
font-size: 50px;
line-height: 68px;
}